* {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

main{
    margin-top: 10vh;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type=number]{
    width: 10vh;
    background-color: #fff;
    color: black;
}

input[value="Calcular"]{
    background-color: white;
    color: black;
    padding: 5px 15px 5px 15px;
    font-size: 1.8vh;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}

div{
    text-align: center;
}

.input{
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 2vh 8vh 2vh 8vh;
}

.output{
    width: 35vh;
    margin-top: -1.7vh;
    justify-self: center;
    margin-bottom: 5vh;
    border: 1px solid white;
}

.output p{
    background-color: rgb(58, 58, 58);
}