* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(75, 75, 75);
    font-size: larger;
}

#header, #container, #footer{
    background-color: rgba(0, 0, 0, 0.486);
    width: auto;
    margin: 2vh 5vh 2vh 5vh;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgb(255, 255, 255), 0px 0px 40px rgb(255, 255, 255), 0px 0px 60px rgb(255, 255, 255);
    color: white;
    text-align: center;
    align-content: center;
    padding: 2vh;
}

#header{
    height: auto;
}

#container{
    height: 60vh;
    align-content: normal;
}

#footer{
    height: auto;
}

h2{
    margin-bottom: 2vh;
}

form{
    justify-items: center;
}

.form-line{
    margin: 10px;
    width: 10vh;
    justify-items: center;
}

.form-column{
    margin: 3px;
}

#desc{
    height: 15vh;
    width: 22vh;
    resize: none;
    font-size: small;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=button]{
    margin-top: 5vh;
    font-size: medium;
    padding: 5px 15px;
    border-radius: 9px;
    background-color: rgb(9, 255, 0);
    font-weight: bold;
}