* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(75, 75, 75);
    font-size: larger;
    justify-items: center;
}

#header, #container, #result, #footer{
    background-color: rgba(0, 0, 0, 0.486);
    margin: 2vh 5vh 2vh 5vh;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgb(255, 255, 255), 0px 0px 40px rgb(255, 255, 255), 0px 0px 60px rgb(255, 255, 255);
    color: white;
    text-align: center;
    align-content: center;
    padding: 2vh;
}

#header, #footer{
    width: 100%;
    margin: 0 auto;
    margin-top: 3vh;
}

#footer{
    font-size: medium;
}

#container{
    width: 50vh;
    min-height: 300px;
}

#result {
    overflow-y: auto;
    width: 50vh;
    max-height: 60vh;
}

h2{
    margin-bottom: 1vh;
}

form{
    justify-items: center;
}

.form-line{
    margin: 10px;
    width: 10vh;
    justify-items: center;
}

.form-column{
    margin: 3px;
}

#desc{
    height: 5vh;
    width: 20vh;
    resize: none;
    font-size: small;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px;
}

#valor{
    width: 10vh;
}

input[type=button]{
    width: 10vh;
    font-size: medium;
    padding: 5px 15px;
    width: auto;
}

#btnSalvar{
    margin-top: 4vh;
    background-color: rgb(9, 255, 0);
}

#btnLimparDados{
    background-color: red;
}

.gasto-item button {
    font-size: medium;
    width: auto;
    margin-top: 5px;
    background-color: red;
    padding: 5px 15px;
}

button, input[type=button] {
    border: none;
    font-weight: bold;
    border-radius: 9px;
    cursor: pointer;
}

button:hover, input[type=button]:hover {
    transform: scale(120%);
    box-shadow: 0 0 10px white;
    transition: .5s;
}

#linhaLimpar{
    width: 100%;
}

.gasto-item {
    background-color: #1e1e1e;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 1px 1px 1.5vh white;
}

#lista{
    height: 47vh;
}

.total {
    font-size: 18px;
    font-weight: bold;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5vh;
    flex-wrap: wrap;
}